* {
  box-sizing: border-box;
}

:root {
  --spacing: 20px;
  --accent: #127c34;
}

body {
  margin: 50px auto;
  max-width: 850px;

  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 1.4;

  background-color: #FFFFFF;
  color: #383838;
}

header {
  display: flex;
  column-gap: var(--spacing);
  margin-bottom: var(--spacing);
}

header > div {
  height: 420px;
}

header > div:nth-child(1) {
  flex: 0 0 300px;
}

header > div:nth-child(2) {
  display: flex;
  flex-direction: column;
}

header > div:nth-child(2) > *:last-child {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header img {
  width: 100%;
}

h1 {
  font-size: 2.3em;
  font-weight: bold;
}

h2 {
  font-size: 1.7em;
  font-weight: bold;
}

h1, h2 {
  font-family: "Barlow Condensed", sans-serif;
  border-bottom: 1px solid var(--accent);
  padding-bottom: 0px;
  margin-bottom: var(--spacing);
  color: var(--accent);
  text-transform: uppercase;
}

p, ul {
  margin-bottom: var(--spacing);
}

li {
  margin-bottom: calc(var(--spacing) / 2);
}

b {
  font-weight: bold;
  color: var(--accent);
}

ul {
  list-style-type: disc;
  margin-left: 30px;
}

a {
  color: #12707c;
}

a:hover {
  background-color: #eff7f6;
}

.split {
  display: flex;
  column-gap: var(--spacing);
}

.split > * {
  flex-grow: 1;
  flex-basis: 50%;
}

.split > * > *:not(:last-child) {
  margin-bottom: var(--spacing);
}

@media(max-width: 890px) {
  body {
    margin: 50px var(--spacing);
  }

  h1 {
    text-align: center;
    font-size: 2em;
  }

  h2 {
    font-size: 1.6em;
  }

  header {
    display: block;
  }

  header > div {
    height: auto;
  }

  header > div:nth-child(1) {
    text-align: center;
  }

  header > div:nth-child(1) img {
    width: 300px;
  }

  header > div:nth-child(2) {
    display: block;
  }

  .split {
    display: block;
  }

  .split section:not(:last-child) {
    margin-bottom: var(--spacing);
  }

  .callout {
    font-size: 1.2em;
    padding: 30px;
  }
}

.callout {
  text-align: center;
  font-size: 1.3em;
  border: 5px double var(--accent);
  line-height: 1.7;
  border-radius: 5px;
}

.callout p {
  margin: 0;
}
