* {
  box-sizing: border-box;
}

body {
  margin: auto;
  margin-bottom: 10px;
  max-width: 800px;

  font-family: "Inter", serif;
  font-size: 19px;
  line-height: 1.4;

  background-color: rgb(154, 209, 202);
  color: rgb(75, 66, 56);
}

header, section {
  background-color: rgb(251, 249, 249);
  border-radius: 3px;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.40);
  padding: 25px;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
}

h1, h2 {
  font-family: "Signika", display;
  color: rgb(182, 96, 51);
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

ul {
  list-style-type: disc;
  margin-left: 30px;
}

section > *:not(:last-child), li:not(:last-child) {
  margin-bottom: 10px;
}

.split {
  display: flex;
  align-items: stretch;
  column-gap: 10px;
}

.split > * {
  margin: 0;
  flex-grow: 1;
  flex-basis: 50%;
}

.split div section:not(:last-child) {
  margin-bottom: 10px;
}

.callout {
  text-align: center;
}

body > * {
  margin-top: 10px;
}


@media(max-width: 820px) {
  body {
    margin: 10px;
  }

  .split {
    display: block;
  }

  .split section:not(:last-child) {
    margin-bottom: 10px;
  }
}
